
.App {
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
  text-align: center;
    background-color: goldenrod;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
.scroll {
  overflow-y: scroll;
  border: 1px solid black;
  height: auto;
    max-height: 70vh;
    margin: 2vw;
}

button {
  cursor: pointer;
}

.beeCard {
  width: 130px;
  height: 130px;
}
